<div class="container">
    <form>
        <div class="form-group">
            <label for="InvID">Inventory id</label>
            <input type="text" class="form-control invID" id="InvID" placeholder="">
        </div>
        <div class="form-group">
            <label for="lineNum">Line Number</label>
            <select class="form-control lineNum" id="lineNum">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="InvType">Inventory Type</label>
            <input type="text" class="form-control invType" id="InvType" placeholder="">
        </div>
        <div class="form-check">
            <input class="form-check-input srItem" type="checkbox" value="" id="SR">
            <label class="form-check-label" for="Sr">
                SR item?
            </label>
        </div>
        <button type="submit" class="btn btn-primary addItem addItemButton">Add Item</button>
    </form>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/addInv.js"></script>