<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Update Actual Production numbers</h1>
        <p class="lead">Fill out the form below to update the actual production numbers for the week.</p>
    </div>
    <form>
        <div class="form-group">
            <label for="InvID">Work Center</label>
            <input type="text" class="form-control workCenter" id="workCenter" placeholder="">
        </div>
        <div class="form-group">
            <label for="InvID">Acutal Production Number</label>
            <input type="text" class="form-control productionNum" id="productionNum" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary addProductionNumberButton">Update Production Numbers</button>
    </form>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/addInv.js"></script>